$d: 9.75;
$w: .9;
$t: 60;

.center {
    position: absolute;
    left: 50%;
    margin-top: -($d / 2)+rem;
    margin-left: -($d / 2)+rem;
}

/* -- CIRCLE -- */

.circle {
    width: $d+rem;
    height: $d+rem;
    margin-top: 10px;
    margin-bottom: 25px;
    position: relative;
    border-radius: 999px;
    box-shadow: inset 0 0 0 $w+rem rgba(255,255,255,0.5);
}

.l-half, .r-half {
    float: left;
    width: 50%;
    height: 100%;
    overflow: hidden;
    
    &:before {
        content: "";
        display: block;
        width: 100%;
        height: 100%;
        box-sizing: border-box;
        border: $w+rem solid #fff;
        -webkit-animation-duration: $t+s;
        -webkit-animation-iteration-count: 1;
        -webkit-animation-timing-function: linear;
        -webkit-animation-fill-mode: forwards;
    }
        
}

.l-half:before {
    border-right: none;
    border-top-left-radius: 999px;
    border-bottom-left-radius: 999px;
    -webkit-transform-origin: center right;
    -webkit-animation-name: l-rotate;
}
    
.r-half:before {
    border-left: none;
    border-top-right-radius: 999px;
    border-bottom-right-radius: 999px;
    -webkit-transform-origin: center left;
    -webkit-animation-name: r-rotate;
}

/* -- TIMER -- */

.count {
    position: absolute;
    width: 100%;
    line-height: $d+rem;
    text-align: center;
    font-weight: 800;
    font-size: 1.975rem;
    font-family: Helvetica;
    color: #fff;
    z-index: 2;
    -webkit-animation: fadeout .5s ($t + 1)+s 1 linear;
    -webkit-animation-fill-mode: forwards;
}

ion-grid {
    --background: #137a0d;
    color: #ffffff !important;
    --ion-background-color: #036f2d9c;
}

.btn{
    height: 90%;
    width: 100%;
}