<ion-content [ngClass]="isIniciouNoite?'bgNoite':'bgDia'" >
  <style>
    .bgNoite {
       --background: url('./../assets/imgs/bgnoite.jpg')  !important;
     }
     .bgDia {
       --background: none;
     }
     .margin5 {
       margin-left: 5%;
       
       margin-bottom: 10%;
     }
     .margin10 {
       margin-left: 10%;
      
       margin-bottom:  10%;
     }
     .margin20 {
       margin-left: 21.5%;
      
       margin-bottom:  10%;
     }
     .margin40 {
       margin-left: 41.5%;
      
       margin-bottom:  10%;
     }
   </style>
  <ion-toolbar style="height: 8%;">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
      <ion-back-button id="backButton" defaultHref="/backPage()"></ion-back-button>
    </ion-buttons>
    <ion-title  >Dia:{{controlePartida.numDoDia}}({{controlePartida.isNoite?'noite':'dia'}})</ion-title>
  </ion-toolbar>
  <ion-grid style="height: 90%;margin-top: 0%;">

    <ion-item  class="ion-align-items-center ion-justify-content-center" style="height: 100%;width: 100%;;margin-top: 0%;">

    <ion-list style="height: 558px;width: 100%;margin-top: 0%;">

      <ion-item class="ion-text-center" style="width: 100%;">
        <ion-label class="ion-text-center" *ngIf="!jogadorAtual.isPronto || jogadorAtual.jogador.papel.key == 'mestre'">
          <h1 style="font-weight: bold;"><b>{{jogadorAtual.jogador.nome}}</b></h1>
        </ion-label>
        <ion-label class="ion-text-center" *ngIf="jogadorAtual.isPronto && jogadorAtual.jogador.papel.key != 'mestre'">
          <h1 style="font-weight: bold;"><b>{{jogadorAtual.jogador.papel.nome}}</b></h1>
        </ion-label>
      </ion-item>

      <ion-row class="ion-justify-content-center" style="margin-top: 0px;">
        <ion-avatar class="ion-text-center" style="width:30%;height:30%;" *ngIf="!jogadorAtual.isPronto">,
          <img [src]="jogadorAtual.jogador.imagem">
        </ion-avatar>
        
        <div class="img-div" style="height: 5rem !important" *ngIf="jogadorAtual.isPronto && jogadorAtual.jogador.papel.key != 'mestre'" [ngStyle]="{'background-image': 'url(../../assets/imgs/'+jogadorAtual.jogador.papel.imagem+ '.png)', 'width': '3rem'}" > </div>
        
        <ion-item class="ion-text-center" *ngIf="jogadorAtual.isPronto && jogadorAtual.jogador.papel.key != 'mestre'">
          <ion-text class="ion-text-center">
            <h6 style="font-weight: bold;text-align: justify;">{{jogadorAtual.jogador.papel.descricao}}</h6>
          </ion-text>
        </ion-item>
        <ion-item class="ion-text-center" style="margin-top: -5%;"
          *ngIf="alvos.length > 0 && controlePartida.numDoDia != 0 && jogadorAtual.jogador.papel.key != 'mestre' && jogadorAtual.isPronto ">
          <ion-text class="ion-text-center">
            <h6 style="font-weight: bold;">{{isImobilizado(jogadorAtual)?"Você está imobilizado e não poderá efetuar nenhuma ação":mensagemAlvo}}</h6>
          </ion-text>
        </ion-item>
      </ion-row>

      <ion-item class="ion-text-center" style="margin-top: 10%;text-align:center;" *ngIf="!jogadorAtual.isPronto && jogadorAtual.jogador.papel.key != 'mestre'">
        <ion-button class="btn" style="height: 80%;width: 100%;" (click)="verPapel()" >
          Ver papel
        </ion-button>
      </ion-item>

      <ion-list class="ion-text-center" style="margin-top: 0%;max-width: 100%;max-height: 28%;overflow-y: scroll;"  *ngIf="alvos.length > 0 && controlePartida.numDoDia != 0 && jogadorAtual.jogador.papel.key != 'mestre' && jogadorAtual.isPronto ">
        <ion-row class="ion-text-center">
           <ion-avatar class="ion-text-center" *ngFor="let alvo of alvos" [ngClass]="alvos.length<=1?'margin40':alvos.length==2?'margin20':alvos.length==3?'margin10':'margin5'" (click)="OnSelectAlvo(alvo)" >
            <ion-avatar class="ion-text-center" style="width:7%;height:10%; position: absolute;" *ngIf="jogadorAtual.jogador.papel.key == 'cacador' && alvo.jogador.papel.key == 'cacador'">
              <img style="height: 24px;border: 1px solid #70dd1e;" [src]="'../../assets/imgs/aliado.png'">
            </ion-avatar>  
            <img [src]="alvo.jogador.imagem" [ngStyle]="{'border':controlePartida.alvoSelecionado!=null&&alvo.id==controlePartida.alvoSelecionado.id?'5px solid #02a325':'5px solid #000000'}">
              <ion-list class="ion-text-center">
                <ion-label fixed class='fixedLabel'>
                  <h3 style="font-weight: bold;">{{alvo.jogador.nome}}</h3>
                </ion-label>
              </ion-list>
            </ion-avatar>
        </ion-row>
      </ion-list>

      <!-- 
    <ion-item class="ion-text-center"  style="margin-top: 5%;box-shadow: none;"  *ngIf="jogadorAtual.jogador.papel.key == 'mestre' && discussao ">
        <ion-item style= "--background: transparent !important; --box-shadow: none;width: 100%;">
          <div class="circle center">
            <div class="count">{{time | async }}</div>
            <div class="l-half"></div>
            <div class="r-half"></div>
          </div>      
        </ion-item>
      
    
      
      <style type="text/css">
        @-webkit-keyframes l-rotate {
            0% { -webkit-transform: rotate(0deg); }
            50% { -webkit-transform: rotate(-180deg); }
            100% { -webkit-transform: rotate(-180deg); }
        }
        
        @-webkit-keyframes r-rotate {
            0% { -webkit-transform: rotate(0deg); }
            50% { -webkit-transform: rotate(0deg); }
            100% { -webkit-transform: rotate(-180deg); }
        }
        
        @-webkit-keyframes fadeout {
            0% { opacity: 1; }
            100% { opacity: 0.5; }
        }
    </style>

  </ion-item>
      -->
      

      <ion-item class="ion-text-center" style="margin-top: 15%;margin-left: 0%;height: 37%;width: 100%;word-wrap: break-word;"  *ngIf="jogadorAtual.jogador.papel.key == 'mestre'">
          <ion-text class="ion-text-center"
          *ngIf="controlePartida.numDoDia == 0">
          <h5 style="text-align: center;">{{controlePartida.jogadoresControle[1].jogador.nome}} irá narrar o jogo.  </h5>
          <h6 style="text-align: justify;">  Todos os jogadores sentam formando um circulo de frente um para o outro. <br>
             Após amanhecer ou anoitecer, os jogadores deverão ser informados sobre os acontecimentos do turno.
          </h6>
        </ion-text>
        <ion-text class="ion-text-center" style="word-wrap: break-word;"
          *ngIf="controlePartida.numDoDia != 0 && !controlePartida.isNoite">
          <h4 style="text-align: center;">Acontecimentos da noite:</h4>
          <h5 style="text-align: justify;">{{mensagemResumoNoite}}</h5>
          <h6 style="text-align: justify;">Apenas os jogadores vivos podem debater sobre os acontecimentos.</h6>
        </ion-text>
        <ion-text class="ion-text-center" style="word-wrap: break-word;"
          *ngIf="controlePartida.numDoDia != 0 && controlePartida.isNoite">
          <h4 style="text-align: center;">Resultado da eleição:</h4>
          <h5 style="text-align: justify;">{{mensagemResumoDia}}</h5>
        </ion-text>
      </ion-item>

      <ion-item  class="ion-text-center" style="margin-top: 15%;margin-left: 0%;height: 15%;width: 100%;"  *ngIf="jogadorAtual.jogador.papel.key == 'mestre'">
        <ion-button (click)="iniciarJogo()" class="btn" *ngIf="controlePartida.numDoDia == 0" >
          Iniciar jogo
        </ion-button>
        <ion-button (click)="iniciarEleicao()" class="btn"  *ngIf="controlePartida.numDoDia != 0 && !controlePartida.isNoite">
         Iniciar eleição
        </ion-button>
        <ion-button (click)="iniciarNoite()" class="btn"  *ngIf="controlePartida.numDoDia != 0 && controlePartida.isNoite">
          Iniciar noite
        </ion-button>
        
      </ion-item>

      <ion-item class="ion-text-center" style="margin-top: 5%;margin-left: 12%;height: 10%;width: 76%" *ngIf="jogadorAtual.jogador.papel.key != 'mestre'">

        <ion-button (click)="acaoPassar()" class="btn" style="--ion-color-primary: #a3bd15;"
          *ngIf="controlePartida.numDoDia != 0 && !controlePartida.isNoite && jogadorAtual.isPronto ">
          Passar
        </ion-button>
        <ion-button (click)="acaoVotar()" class="btn" style="--ion-color-primary: #1ec3bd;"
          *ngIf="controlePartida.numDoDia != 0 && !controlePartida.isNoite && jogadorAtual.isPronto ">
          Votar
        </ion-button>

        <ion-button (click)="acaoDormir()" class="btn" style="--ion-color-primary: #a3bd15;"
          *ngIf="controlePartida.numDoDia != 0 && controlePartida.isNoite && jogadorAtual.isPronto ">
          Dormir
        </ion-button>

        <ion-button (click)="preparaAssassinar()" class="btn" style="--ion-color-primary: #ac1510;"
          *ngIf="controlePartida.numDoDia != 0 && jogadorAtual.isPronto && habilitarBtnAssassinar()">
          Atirar
        </ion-button>

        <ion-button (click)="acaoAtacar()" class="btn" style="--ion-color-primary: #ac1510;"
          *ngIf="controlePartida.numDoDia != 0 && jogadorAtual.isPronto && habilitarBtnAtacar()">
          Atacar ({{jogadorAtual.jogador.qtdSkills}})
        </ion-button>

        <ion-button (click)="acaoMorder()" class="btn" style="--ion-color-primary: #ac1510;"
          *ngIf="controlePartida.numDoDia != 0 && jogadorAtual.isPronto && habilitarBtnMorder()">
          Morder
        </ion-button>
        
        <ion-button (click)="acaoPrever()" class="btn" style="--ion-color-primary: #b67b0e;"
          *ngIf="controlePartida.numDoDia != 0 && jogadorAtual.isPronto && habilitarBtnPrever()">
          Clarividência ({{jogadorAtual.jogador.qtdSkills}})
        </ion-button>
        <ion-button (click)="acaoSeduzir()" class="btn" style="--ion-color-primary: #ac1510;"
          *ngIf="controlePartida.numDoDia != 0 && jogadorAtual.isPronto && habilitarBtnSeduzir()">
          Seduzir ({{jogadorAtual.jogador.qtdSkills}})
        </ion-button>
        <ion-button (click)="acaoProteger()" class="btn" style="--ion-color-primary: #b67b0e;"
          *ngIf="controlePartida.numDoDia != 0 && jogadorAtual.isPronto && habilitarBtnProteger()">
          Proteger
        </ion-button>
        <ion-button (click)="acaoCapturar()" class="btn" style="--ion-color-primary: #ac1510;"
          *ngIf="controlePartida.numDoDia != 0 && jogadorAtual.isPronto && habilitarBtnCapturar()">
          Capturar ({{jogadorAtual.jogador.qtdSkills}})
        </ion-button>
      </ion-item>

    </ion-list>
  </ion-item>

  </ion-grid>
</ion-content>