<ion-content [ngClass]="'bgComoJogar'">
  <style>
    .bgComoJogar {
       --background: url('./../assets/imgs/bgcomojogar.jpg')  no-repeat center center / cover !important;
       background-position: center;
       background-size: 100%;
     }
  </style>
  <ion-toolbar style="height: 5%;">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
      <ion-back-button id="backButton" defaultHref="/backPage()"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>

  <ion-grid style="height: 100%">
  
    <ion-row class="ion-align-items-center ion-justify-content-center" style="height: 90%;width: 100%;;margin-top: 4%;">
 
       <ion-row style="height: 76%;width: 100%;margin-top: 0%;" >
         
        
 
         
       </ion-row>
 
       <ion-button style="width: 99%; height: 10%;" block (click)="novoJogo()">
         JOGAR
         <ion-icon slot="icon-only" name="play"></ion-icon>
       </ion-button>
     
      </ion-row>
   </ion-grid>



</ion-content>
