<ion-content [ngClass]="'bgAddPlayer'">
  <style>
    .bgAddPlayer {
       --background: url('./../assets/imgs/bgaddplayer.jpg')  no-repeat center center / cover !important;
       background-position: center;
       background-size: 100%;
     }
  </style>

  <ion-toolbar style="height: 5%;">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
      <ion-back-button id="backButton" defaultHref="/backPage()"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
  
  <form (ngSubmit)="salvar(jogador)">

    <ion-item class="ion-text-center" style="width: 100%;margin-top: 20%;">
      <ion-label style="font-size: 30px;font-family: cursive;">NOVO JOGADOR</ion-label>
    </ion-item>
    <ion-item class="ion-text-center" style="width: 100%;margin-top: 5%;">
      <img class="foto" style="width: 57%;" (click)="takePicture()" src="{{jogador.imagem}}" /> 
    </ion-item>
    <ion-item  style="width: 90%;margin: auto;margin-top: 5%;margin-left: 6.5%;">
      <ion-input type="text" maxlength="10" style="margin: auto;text-align: center;" placeholder="Insira o nome do jogador" [(ngModel)]="jogador.nome" name="Nome"></ion-input>
      <img style="width: 20%;margin: auto; max-width: 50px !important;max-height: 50px !important;" src="../../assets/imgs/btnconfirmar.png" (click)="salvar(jogador)" > 
    </ion-item> 
   
  </form>

</ion-content>