.foto{
    border-radius: 100%;
    margin: 0 auto;
   // border: solid #6f4218;
    max-height: 200px;
    max-width: 200px;
}

ion-input{
    border-radius: 10px !important;
    padding-right: 30px;
    font-weight: bold;
    font-size: 0.9em;
    border: 1px solid #6f4218 !important;
    --background: rgba(219, 219, 219, 0.164) !important;
    /* height: 10%; */
    /* width: 41%; */
    max-width: 300px; // this is applying perfectly
    max-height: 300px;
}