// Ionic Variables and Theming. For more info, please see:
// http://ionicframework.com/docs/theming/
ion-button {
  --width: 180px;
  --height: 50px;
  --border-radius: 3rem;
  --overflow: hidden;
  --cursor: pointer;
  --vertical-align: middle;
  --ion-color-primary: #417b79;
  //--padding-start: 10px;
 // --padding-end: 10px;
  //--box-shadow: 5px 5px 8px black;
  --box-shadow: 1px 2px 5px #4c4a4af0;
  --background-color: #000000;
  color : #ffffff !important;
}

h1, h2, h3, h4, h5, h6 {
  margin-top: 5px;
  margin-bottom: 5px;
  font-weight: 500;
  line-height: 1.2;
  font-weight: bold;
  color: #000000;
}

.rm-btn{
  width: 10px;
  height: 10px;
  margin-left:10px;
  --background: rgb(236, 0, 0);
  --border-radius: 50%;
  border: 1px solid red;
  //--overflow: hidden;
 }

.menu-btn{
  --background: transparent ;
  font-size: 25px;
  color: #6f4218 !important;
  font-weight: bold;
  text-align: center;
  --box-shadow: none !important;
}

ion-content {
  --background: #011600 url('../app/imgs/bgdia.jpg') no-repeat center center / cover !important;
   color : #ffffff !important;
   --ion-background-color: transparent;
}

ion-item, .item-inner{
  --border-width: 0 !important;
  --inner-border-width: 0 !important;
}

.item-borda{
  --border-color: #417b79;
  --border-width: 2px !important;
  --inner-border-width: 0 !important;
}

ion-input, ion-toolbar {
  --background: transparent !important;
}

ion-card{
  box-shadow: none !important;
}

.scroll{
  background: transparent url('../app/imgs/scroll.png') no-repeat center center / cover !important;
  box-shadow: none !important;  
  color: #6f4218 !important;
  --ion-background-color: transparent;
  //margin-top: 20%;
 // height: 70%;
}

ion-list, ion-row, ion-toolbar {
  color : #000000;
  background: transparent;
  background-color: transparent;
  --ion-background-color: transparent !important;;
}

ion-header{
  position: absolute !important;
}

ion-title{
  text-align: center;
  color: #3880ff;
 // margin-top: 0%;  
  font-weight: bold !important;
}

.h6{
  color: #3880ff;
}

.header-md:after{
  background-image: none !important;
}

ion-text{
  color: #6f4218; ;
}

ion-avatar img{
  border: solid #000000;
  --position: relative;
  margin-left: 0;
}

/*.mask-lobisomem {
  width:100%; 
  height:100%; 
  position: absolute;
  border:0px;
  background-color: transparent;
  background: transparent;
  text-decoration: none;
  top:0;
  left:0;
  margin-left: 0%;
  margin-top: 50px;
  outline: none;
  background:url(../app/imgs/lnlobisomem.png) transparent no-repeat; 
}*/

.mask-banner {
  width:400px; /* largura da imagem máscara */
  height:400px; /* altura da imagem máscara */
  position: absolute;
  border:0px;
  background-color: transparent;
  background: transparent;
  text-decoration: none;
  top:0;
  left:0;
  margin-left: -2%;
  margin-top: 0px;
  outline: none;
  background:url(../app/imgs/logo.png) transparent no-repeat; /* imagem máscara */
}

.titulo{
  height: 7%;
  margin-top: 7%;
  margin-left: 0%;
  background: #6f4218;
  opacity: 93%;
}

ion-icon {
  font-size: 30px; //Preferred size here
}

.img-div {
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  }

/** Ionic CSS Variables **/
:root {
  text-decoration-color: rgb(0, 0, 0);
  /** primary **/
  --ion-color-primary: #3880ff;
  --ion-color-primary-rgb: 56, 128, 255;
  --ion-color-primary-contrast: #ffffff;
  --ion-color-primary-contrast-rgb: 255, 255, 255;
  --ion-color-primary-shade: #3171e0;
  --ion-color-primary-tint: #4c8dff;

  /** secondary **/
  --ion-color-secondary: #0cd1e8;
  --ion-color-secondary-rgb: 12, 209, 232;
  --ion-color-secondary-contrast: #ffffff;
  --ion-color-secondary-contrast-rgb: 255, 255, 255;
  --ion-color-secondary-shade: #0bb8cc;
  --ion-color-secondary-tint: #24d6ea;

  /** tertiary **/
  --ion-color-tertiary: #7044ff;
  --ion-color-tertiary-rgb: 112, 68, 255;
  --ion-color-tertiary-contrast: #ffffff;
  --ion-color-tertiary-contrast-rgb: 255, 255, 255;
  --ion-color-tertiary-shade: #633ce0;
  --ion-color-tertiary-tint: #7e57ff;

  /** success **/
  --ion-color-success: #10dc60;
  --ion-color-success-rgb: 16, 220, 96;
  --ion-color-success-contrast: #ffffff;
  --ion-color-success-contrast-rgb: 255, 255, 255;
  --ion-color-success-shade: #0ec254;
  --ion-color-success-tint: #28e070;

  /** warning **/
  --ion-color-warning: #ffce00;
  --ion-color-warning-rgb: 255, 206, 0;
  --ion-color-warning-contrast: #ffffff;
  --ion-color-warning-contrast-rgb: 255, 255, 255;
  --ion-color-warning-shade: #e0b500;
  --ion-color-warning-tint: #ffd31a;

  /** danger **/
  --ion-color-danger: #f04141;
  --ion-color-danger-rgb: 245, 61, 61;
  --ion-color-danger-contrast: #ffffff;
  --ion-color-danger-contrast-rgb: 255, 255, 255;
  --ion-color-danger-shade: #d33939;
  --ion-color-danger-tint: #f25454;

  /** dark **/
  --ion-color-dark: #222428;
  --ion-color-dark-rgb: 34, 34, 34;
  --ion-color-dark-contrast: #ffffff;
  --ion-color-dark-contrast-rgb: 255, 255, 255;
  --ion-color-dark-shade: #1e2023;
  --ion-color-dark-tint: #383a3e;

  /** medium **/
  --ion-color-medium: #989aa2;
  --ion-color-medium-rgb: 152, 154, 162;
  --ion-color-medium-contrast: #ffffff;
  --ion-color-medium-contrast-rgb: 255, 255, 255;
  --ion-color-medium-shade: #86888f;
  --ion-color-medium-tint: #a2a4ab;

  /** light **/
  --ion-color-light: #f4f5f8;
  --ion-color-light-rgb: 244, 244, 244;
  --ion-color-light-contrast: #000000;
  --ion-color-light-contrast-rgb: 0, 0, 0;
  --ion-color-light-shade: #d7d8da;
  --ion-color-light-tint: #f5f6f9;
}
