
<ion-content>
  <ion-toolbar style="height: 5%;">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
      <ion-back-button id="backButton" defaultHref="/backPage()"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
  <ion-grid style="height: 80%">

    <ion-row class="ion-align-items-center ion-justify-content-center" style="height: 100%;background-color: #015631;">
      
      <ion-list  style="height: 90%;width: 90%;margin-top: 30px; overflow-y: scroll;">
      
        <ion-row>

          <ion-item class="ion-text-center item-borda" style="opacity: 80%;width: 100%; height: 80%;background: #8bba20;margin-top: 3%;" >
            <ion-label style="font-weight: bold">Personagens aleatórios</ion-label>
            <ion-checkbox [checked]="true" (click)="changePapeisRandomAtivo()" ></ion-checkbox>
          </ion-item>

          <ion-item class="ion-text-center item-borda" style="opacity: 80%;width: 100%; --min-height: 100%; --max-height: 4.7125rem; background: #8bba20;margin-top: 3%; height: 4.7125rem;"  *ngFor="let papel of papeis">
            
            <div class="img-div" [ngStyle]="{'width': '17%','background-image': 'url(./../assets/imgs/'+papel.imagem+ '.png)' }" > </div>
            <ion-label (click)="mostrarAlert(papel.nome, papel.descricao)" style="font-weight: bold">{{papel.nome}}</ion-label>

            <ion-row style="width:44px;height:100%;" *ngIf="!random">
              <ion-row class="ion-text-center " >
                
                <ion-button style="height: 20px;width:35px;" (click)="papel.maisQtd();maisQtdPapeis()" [disabled]="(qtdPapeis >= qtdJogadores)">
                  <h4 style="width:10px;height:30px;">+</h4>
                </ion-button>
                <ion-label style="width: 40px;height: 15px;" class="ion-text-center ">{{papel.qtd}}</ion-label>
                <ion-button style="height: 20px;width:35px;" (click)="papel.menosQtd();menosQtdPapeis()" [disabled]="(papel.qtd <= 0)">
                  <h4 style="width:10px;height:30px;">-</h4>
                </ion-button>

              </ion-row>
            </ion-row>

          </ion-item>

        </ion-row>
      </ion-list>

      <ion-button style="width: 99%; height: 10%;" block (click)="comecar()">
        Começar
        <ion-icon slot="icon-only" name="play"></ion-icon>
      </ion-button>

    </ion-row>
  </ion-grid>
</ion-content>