<ion-content > 
  <ion-toolbar style="height: 5%;">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
      <ion-back-button id="backButton" defaultHref="/backPage()"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
  <ion-grid style="height: 80%">
  
    <ion-row class="ion-align-items-center ion-justify-content-center" style="height: 100%;">
        <ion-button style="width: 80%; height: 10%;" block (click)="adicionarJogador()">
          Adicionar jogador
          <ion-icon slot="icon-only" name="add-circle-outline"></ion-icon>
        </ion-button>

        <ion-list  style="height: 76%;width: 80%;margin-top: 30px;overflow-y:auto">
          <ion-row>
            <ion-item class="item-borda ion-text-center" style="opacity: 80%;width: 100%; height: 80%;background: #8bba20;margin-top: 3%;" *ngFor="let jogador of players">
                <img style="width: 30%;height: 90%;border-radius: 100%" [src]="jogador.imagem" >
                <ion-label font-weight: bold>  {{jogador.nome}} </ion-label>
                <img style="width: 10%;height: 30%;" src="../../assets/imgs/btnremove.png" (click)="removerJogador(jogador)">
            </ion-item>
          </ion-row>
        </ion-list>
    
        <ion-button style="width: 80%; height: 10%;" block (click)="configurarPapeis()">
          Concluir
          <ion-icon slot="icon-only" name="save"></ion-icon>
        </ion-button>

    </ion-row>
  </ion-grid>

  <ion-button (click)="jogadoresSalvos()" *ngIf="false">
    <ion-icon slot="icon-only" name="man"></ion-icon>
  </ion-button>

</ion-content>
