<ion-content >
  <ion-toolbar style="height: 5%;">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
      <ion-back-button id="backButton" defaultHref="/backPage()"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>

  <ion-grid style="height: 100%">
  
   <ion-row class="ion-align-items-center ion-justify-content-center" style="height: 90%;width: 100%;;margin-top: 4%;">

      <ion-row class="scroll" style="height: 76%;width: 100%;margin-top: 0%;" >
        
        <ion-item class="ion-text-center" style="width: 100%;height: 17%;margin-top: 19px;">
          <ion-title class="menu-btn" style="margin-top: 0%; color: #6f4218 !important;" >Explicação</ion-title>
        </ion-item>

        <ion-card class="ion-text-center" style="width: 100%; height: 100%;margin-top: 0px;">
          <ion-text class="ion-text-center">
            <h6 style="margin-left: 15%;width: 73%;">Caçador Folclórico é um jogo ambientado em uma floresta em que os caçadores estão assassinando as criaturas folclóricas. <br/>
              O objetivo dos caçadores é matar todas as criaturas e evitar ser descoberto.
              Durante a noite, os jogadores poderão fazer suas ações e durante o dia os jogadores participarão de uma eleição para eliminar os suspeitos.
            </h6>
          </ion-text>
        </ion-card>

      </ion-row>

      <ion-button style="width: 99%; height: 10%;" block (click)="iniciarJogo()">
        Iniciar jogo
        <ion-icon slot="icon-only" name="play"></ion-icon>
      </ion-button>
    
     </ion-row>
  </ion-grid>
</ion-content>
