<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
      <ion-back-button id="backButton" defaultHref="/home"></ion-back-button>
    </ion-buttons>
    <ion-title>
      <ion-title class="ion-text-center">Jogadores salvos</ion-title>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  
  <ion-card>
    <ion-card *ngFor="let jogador of jogadoresSalvos">
      <ion-item class="nome">
        <ion-icon name="happy" slot="start"></ion-icon>
        <ion-label>{{jogador.nome}}</ion-label>
      </ion-item>
    </ion-card>

    <ion-button (click)="incluir()">
      <ion-icon slot="icon-only" name="save"></ion-icon>
      Salvar
    </ion-button>
  </ion-card>

</ion-content>
