<ion-content [ngClass]="nomeBgFim" >
  
  <style>
    .bgempate {
       --background: url('./../assets/imgs/bgempate.png') no-repeat center center / cover !important;
       background-position: center;
       background-size: 100%;
     }
     .bgcriaturaswin {
       --background:  url('./../assets/imgs/bgcriaturaswin.png') no-repeat center center / cover !important;
       background-position: center;
       background-size: 100%;
     }
     .bgcacadoreswin {
       --background:  url('./../assets/imgs/bgcacadoreswin.png') no-repeat center center / cover !important;
       background-position: center;
       background-size: 100%;
     }
   </style>

    <ion-toolbar style="height: 5%;">
      <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
        <ion-back-button id="backButton" defaultHref="/backPage()"></ion-back-button>
      </ion-buttons>
    </ion-toolbar>

  <ion-list style="height: 90%">

      <ion-list class="ion-text-center" style="margin-top: 45%;">
        <ion-label class="ion-text-center">
          <h6 style="font-weight: bold;">{{msgEndGame}}</h6>
        </ion-label>
      </ion-list>

      <ion-button style="width: 99%; height: 10%;margin-top: 74%;" block (click)="jogarNovamente()">
        Jogar novamente
        <ion-icon slot="icon-only" name="play"></ion-icon>
      </ion-button>

  </ion-list>
  
</ion-content>
