<ion-content  class="ion-padding"  class="letsstart"> 
  <ion-grid style="height: 80%">
    <ion-row class="ion-align-items-center ion-justify-content-center" style="height: 100%;margin-top: 30px;">
      <img src="../../assets/imgs/logo.png">


        <img style="width: 80%;" src="../../assets/imgs/btnjogar.png" (click)="novoJogo()">

        <img style="width: 50%;" src="../../assets/imgs/btncomojogar.png" (click)="comoJogar()">


    </ion-row>
  </ion-grid>
</ion-content>
